<button type="button" class="btn btn-success my-4" data-bs-toggle="modal" data-bs-target="#addGenre"><i class="bi bi-plus-lg"></i>Add Genre</button>
<div class="modal fade" id="addGenre" tabindex="-1" aria-labelledby="addGenreLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addGenreLabel">Add a new Genre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/genres/create" method="post">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Name</label>
                    <input required  type="text" name="name" class="form-control" id="nameInput">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Confirm</button>
            </div>
        </form>
      </div>
    </div>
</div>