@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.wrapper {
  position: relative;
}

.custom-container {
  width: 80%;
  height: 80%;
}

.bg-image {
 
  filter: blur(3px) opacity(50%);
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}